header {
    display: flex;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

article {
    font-size: 150px;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
}

.austinPhoto {
     width: 80%;
     display: flex;
     margin: auto;
}

p {
    font-size: 20px; 
}


ol {
    font-style: italic;
    font-size: 25px;
}

.title {
   
}


@media(max-width:1200px) {
    .content {
        display: grid;
        grid-template-columns: 1fr;
    }
} 
    

@media(max-width:800px) {
    .text article {
       font-size: 80px;
    }
} 
    

@media(max-width:375px) {
    .text article {
       font-size: 30px;
    }
} 
    
 
   










.has-border {
    border-radius: 25px;
    border: 4px solid #0795C3;
    background: none;
    padding: 20px;
  }

a {
    margin: 2% 1% 3%;
    height: 10%;
    width: 8%;
    color: rgb(2, 25, 54);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 25px;
    background: rgb(221, 207, 9);
    padding: 20px;
    text-align: center;
    border: 2px solid rgb(177, 44, 44);
  }

  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 2%;
    background-color: rgb(198, 235, 231);
  }

/* Above is for the Icons at the Top */

  

 

     
    
      







.small-text {
    color: rgb(19, 78, 241);
    font-size: 10px;
    margin: 3% auto;
    justify-content: center;    
  }

  